/********************************SLIDER*****************************/

.slider-background{
	width: 100%;
	@include flex;
	max-width: 1970px;
	justify-content: center;
	background: $background-slider;
}

.slider{
	max-width: 1140px;
	overflow: hidden;
	position: relative;
}

.slider__list{
	max-width: 9999px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	transition-property: margin-left;
	transition-duration: .5s;
	@include flex;
	justify-content: flex-start;
	
    li{
        max-width: 1140px;
        width: 100%;
        @include flex;
		justify-content: flex-start;
		
	}

	li:first-child{
		justify-content: center;
	}
}

.slider__button{
    width:55px;
	height: 55px;
    justify-content: center;
    align-items:center;
    border-radius: 30px;
    border:2px solid $white_color;
	font-size: 30px;
	color:$white_color;
	cursor: pointer;
}

.slider__button:hover{
	background: #838383;
	
}

.slider__button:focus{
    outline: none;
}

.slider__button-left {
	display: none;
	position:absolute;
	top:44.38%;
	left: 0;
}

.slider__button-right{
	@include flex;
	position:absolute;
	top: 44.38%;
	right: 0;
}

.slider__check-slide{
	width:4.16%;
	min-width: 48px;
	position: absolute;
	bottom: 10.5%;
	left: 47.86%;
	@include flex;
	justify-content: space-between;
	align-items: center;
}
.check-slide__one {
	color: $check-slide-color;
}
.check-slide__two{
	color: $check-slide-color;
}
.check-slide__three{
	color: $check-slide-color;
}
.check-item{
	color: $check-slide-active_color; 
}




@media (max-width:810px) {
	.slider__list{
		
		
		
	}
}
/********************************SLIDER*****************************/