/*****************Основные цвета********************/
$orange_color:#ff8261;
$blue-sky_color:#52cbf8;
$white_color:#fff;
$sapphire-blue_color:#222836;
$lavender_color:#e7f4f8;
$ivory_color:#fffbde;
$quartz_color:#97947f;


/*****************Цвета элементов********************/
$button_color:$orange_color;
$hover-button_color:$blue-sky_color;
$text_color:#8a989f;
$head-text_color:#556b72;
$text-form_color:#a0a9b6;


$header-topMenu-text_color:#9ba4b0;
$header-topMenu-support_color:#484e57;
$header-topMenu-hover_color:$header-topMenu-support_color;

$background-slider:$sapphire-blue_color;
$background-searchDomain:$lavender_color;
$background-hotsFeatures:$ivory_color;
$background-newsletter:$lavender_color;
$background-footer:$sapphire-blue_color;

$check-slide-color:#ff6666;
$check-slide-active_color:#5278db;

$footer-text_color:#909aad;


/*****************Шрифты********************/

$body-font:'Open Sans','Helvetica', sans-serif;

$font-weight-light:300;
$font-weight-regular:400;
$font-weight-semiBold:600;
$font-weight-bold:700;
$font-weight-extraBold:800;

